[user]
	email = alexw@smile.io
	name = Alex Willemsma
[diff]
	tool = vimdiff
[merge]
	ff = false
[pull]
	ff = only
[credential]
	helper = osxkeychain
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
  gpgsign = true
